/*CSS for about page*/


.section-header-about {
    margin-top: 69px;
    text-align: center;
    padding: 20px;
}



#meetTheTeam {
    text-align: center;
    font-size: 30px;
    color: white;
    
}


#team {
    padding: 20px;
    padding-right: 10px;
    background-color: rgba(0,0,0,.4);

}

#overview{
    color: rgba(0,0,0,.4);
}

#grid-container-about{
    background-color: rbga(0,0,0,.4);
    display: grid;
    grid-template-columns: repeat(4, 3.8in);
    padding: inherit;
}

.grid-elem {
    padding: 10px;
    padding-inline-end: 0px;
    background-color: rgb(222, 112, 112); /* border shorthand */
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


