
/* fonts*/
@font-face {
  font-family: 'vougue';
  src: url('fonts/Vogue.ttf') format('truetype')
}
@font-face {
  font-family: 'bebas';
  src:url('fonts/BebasNeue-Regular.ttf') format('truetype');
}

#home{
  padding-left: 10px;
  width: 100px;
  float: left;
  z-index: 3;
  font-family: bebas;
  letter-spacing: 5px;
}
.navBarGrid {
  display: grid;
  background-color: #f4f4f4;
  padding: 10px 0;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px; /* Gap between grid items */
  align-items: center; /* Vertically center items */
  font-size: 20px
}
.navBarGrid a {
  text-decoration:none;
  color: #333;
  padding: 10px 20px;
}

.navBarGrid a:hover {
  background-color: #ddd;
}

#homeSearchDiv{
  /*upper padding */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
}
#homeSearchBar {
  width: 150px; /* Set the width of the text field */
  height: 2px; /* Set the height of the text field */
  padding: 18px; /* Add padding for better visual appearance */
  border: none;
  border-bottom: 2px solid rgb(201, 201, 201); /* Add a border to the text field */
  border-radius: 5px; /* Add rounded corners to the border */
  font-size: 15px; /* Set the font size of the text */
  background-color:transparent;
}
/* Navigation styles */
nav {
  position: fixed;
  background-color:rgba(0, 0, 0, 0.568);
  color:white ;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-family: 'Roboto', sans-serif;
  z-index: 2;
  width: 100%;
  top:0px;
  
}

.nav-left {
  color:#C0C5C1;
  text-decoration: none;
  font-size: 20px;

}

.nav-right {
  display: flex;
}

.nav-link {
  color: #C0C5C1;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
  position: relative;
  
  
}
#profile{
  position: relative;
  right:70px ;
  top: 0 px;
  z-index: 3;
  font-family: bebas;
}
#about{
  position: relative;
  right:35px;
  top: 0px;
  z-index: 3;
  font-family: bebas;
}
#shop{
  position: relative;
  right:110px;
  top: 0px;
  z-index: 3;
  font-family: bebas;
}

.nav-link:hover {
  color: #ddd; /* Light gray hover color */
}
/* Styling dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 3;
  

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.568);
  min-width: 100%; /* Set the width to match the parent */
  right:90px;
  top:42px
  

}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*styling "Login" above the form*/
#login-header {
  text-align: center; /*centers*/
  color: rgb(174, 201, 178); /*font color*/
  font-size: 30px; /*font size*/
  font-family: vougue;
}

/*styling the login box */
#login-view {
  text-align: center; /* centers box */
  width: 300px; /* sets width to 300px wide */
  margin: 0 auto; /*sets top bottom margins to 0, and automatically centers left and right margins*/
  padding: 40px; /* padding to 20px */
  border: 1px solid #ccc; /* sets a solid 1 pixel thick border of color #ccc */
  border-radius: 25px; /* rounds out the border */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* shadow of the box */
  margin-top: 200px; /* brings the login box down 50 px */
  background-color: #f2f2f2; /* background color of the box */
  
}

#login-view h2 {
  text-align: center; /* centers Login */
  margin-bottom: 20px; /* sets bottom margin to 20px */
}

/* styling the username and password fields */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block; /* ensures username and password have their own lines */
  margin-bottom: 5px; /* sets bottom margin to 5px */
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%; /* sets width of input */
  padding: 10px; /* sets padding to 10px */
  border: 1px solid #ccc; /* adds solid, 1 px border of color #ccc */
  border-radius: 3px; /* rounds out border corners */
  box-sizing: border-box; /* ensures username and password fields don't overlap Login box */
}

.login-button,
.google-button {
    width: 200px; /* sets width of login and google button */
    padding: 10px; /* sets padding to 10px */
    border: none; /* no border */
    border-radius: 3px; /* rounds out corners */
    cursor: pointer; /* makes mouse icon turn to hand for interactivity */
}

.login-button {
    margin-bottom: 5px; /* Add margin between buttons */
    background-color: rgb(174, 201, 178); /* Button background color */
    color: #fff; /* Button text color */
    font-weight: bold; /* bolds text */
}

.google-button {
    padding: 10px; /* padding of 10px */
    margin-top: 5px; /* Add margin between buttons */
    background-color: white; /* white background */
    border: 2px solid #000; /* solid, 2 pixel border of color black to google button */
    color: black; /* color of text */
    font-weight: bold; /* bolds text */
}

/* Button hover effect */
.login-button:hover {
    opacity: 0.8; /* Reduce opacity on hover */
}

.google-button:hover {
  background-color: lightgray; /* changes color of button background for accessibility */
}

.forgot-password-signup {
  display: flex; /* makes flex container */
  justify-content: space-between;  /* Evenly spaces forgot password? and signup buttons */
  margin-bottom: 10px; /* adds 10px margin to bottom */
}

.forgot-password,
.signup {
  color: rgb(174, 201, 178); /* sets color of forgot password? and signup */
  text-decoration: none; /* no underline */
}

.forgot-password:hover,
.signup:hover {
  text-decoration: underline; /* underline when hovering over forgot password? and signup */
}

.signup {
  font-weight: bold; /* bolds text */
}