html {
    scroll-behavior: smooth;
}
/*Fonts*/
@font-face {
    font-family: 'vougue';
    src: url('fonts/Vogue.ttf') format('truetype')
}
@font-face {
    font-family: 'bebas';
    src:url('fonts/BebasNeue-Regular.ttf') format('truetype');
}

/* Global styles */
body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: rgb(222, 112, 112);
    color: white;
    padding: 20px;
    text-align: center;
}

/* Prix logo on left corner */
#home{
  padding-left: 10px;
  width: 100px;
  float: left;
  z-index: 3;
  font-family: bebas;
  color:#C0C5C1;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
}

/* change Prix color when hovering over */
#home:hover{
  color: rgb(174, 201, 178);
}

/* nav bar */
nav {
  position: fixed;
  background-color:rgba(0, 0, 0, 0.568);
  color:white ;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-family: 'Roboto', sans-serif;
  z-index: 2;
  width: 100%;
  top:0px;
  
}

/* for all of Shop About and Login */
.nav-right {
  cursor: pointer;
  display: flex;
  font-size: 23px;
  position: relative;
}

/* for all of Shop About and Login */
.nav-link {
  color: #C0C5C1;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
  top: 0px;
  z-index: 3;
  font-family: bebas;
}

/* About */
#profile{
  right:70px ;
}

/* Login */
#about{
  right:35px;
}

/* Shop */
#shop{
  right:100px;
}

/* greys out the links a little when hovering over */
.nav-link:hover {
  color: rgb(174, 201, 178);; /* Light gray hover color */
}

/* dropdown menu */
.nav-dropDown-content {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.568);
  min-width: 80px;
  top: 25px;
  right: 160px;
}

/* dropdown menu contents */
.nav-dropDown-content a {
  color: white;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  display: block;
  font-family: bebas;
  font-size: 18px;
}

/* displaying dropdown menu when hovering over Shop */
.nav-link:hover + .nav-dropDown-content,
.nav-dropDown-content:hover {
    display: block; /* Show the dropdown content when hovering over the "Shop" link or the dropdown content itself */
}

/* change color of dropdown menu options when hovering over them */
.nav-dropDown-content a:hover{
  color: #ddd;
  background-color: rgb(174, 201, 178);;
}

/* Styling for Prix main title*/
#prixTitle{
    position: relative;
    color: #C0C5C1;
    font-family: vougue;
    text-align: center;
    font-size:45px;
    top:200px;
    z-index: 1;
    
} 
.bg1 {
    background-image: url('images/bg1.jpg'); 
    background-size: cover;
    background-position: center;
    height: 400px;
    position:relative;
    z-index: 0;
    top: 0px;
}

/*clothes section styling */
.clothes-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.clothes {
    flex: 1 0 calc(25% - 20px);
    position: relative; 
    overflow: hidden;
    margin-bottom: 20px;
}

.clothes img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.overlay-txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity for darkness */
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: vougue;
   letter-spacing: 5px;
    font-size: 40px;
}

.clothes:hover .overlay-txt {
    opacity: 1;
}
/* Main content styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

.container {
    display: flex;
    width: 100%;
}

.box1,
.box2 {
    flex: 1; 
    height: 500px;
}

.box1 {
    position: relative;
    width: 50%; 
    height: 500px; 
    background-color: #1f1f1f; 
    text-align: center;
    font-family: bebas;
    letter-spacing: 5px;
}



.section-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}

.section-header h2 {

    margin:auto;
    color: #ffffff;
}

#prix-description {
    color: white; /* Text color */
    font-size: 16px;
    line-height: 1.6;
    text-align: center; /* Center the text horizontally */
    opacity: 0; /* Initially hide the text */
    transition: opacity 0.3s; /* Add a smooth transition effect */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ensure the text covers the entire width of the box */
    height: 100%; /* Ensure the text covers the entire height of the box */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
    padding: 20px; /* Add padding to the text */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.box2 {
    position: relative; /* Ensure absolute positioning of child elements is relative to this container */
    background-image: url('images/what-is-prix.jpg');
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 500px; /* Set the height of the box */
    width: 50%; /* Set the width of the box */
    
}
.box2:hover #prix-description {
    opacity: 1; /* Show the text on hover */
}

/*Stlying for the Carousel (removed this for the time being -Ami*/
.carousel-container {
    position: relative;
    max-width: 600px; /* 1.5 times the original width */
    margin: 20px auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 200%; /* Three times the width of a single image */
    transition: transform 0.5s ease;
}

.carousel-slide img {
    width: 50%; /* Half the width of a single image */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
}

.arrow-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between; /* Space the arrows */
    width: 100%; /* Take full width */
}

.arrow {
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    cursor: pointer;
}

.prevArrow {
    margin-right: auto; /* Push to the left */
}

.nextArrow {
    margin-left: auto; /* Push to the right */
}


#wire-frames div img{
    display: block;
    margin: 0 auto;
}

#team {
    background-color: #f9f9f9;
    padding: 20px;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(4, 3.8in);

}

.grid-elem {
    padding: 10px;
    background-color: rgb(222, 112, 112); /* border shorthand */
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-elem h3, .grid-elem div {
    color: white;
}

#profileView {
  position: relative;
  top: 100px;
}