/*CSS file for milestone 1*/
/* 
REQUIREMENTS

1. **Element Selector Rule**: Define a CSS rule that targets a specific HTML element, 
 such as **`p`** or **`h1`**, to apply universal styling features like font size or text 
 color to all instances of that element within your document.
2. **ID Selector Rule**: Craft a CSS rule targeting a unique id within your HTML document, 
 such as **`#overview`**, allowing you to apply specific styling to that section alone, distinguishing 
 it visually from other parts of the document.
3. **Class Selector Rule**: Utilize a CSS rule applied to a class, enabling you to style 
 a group of elements that share the same class attribute. This is useful for applying consistent
 styling to elements that perform similar functions, like buttons or section headers.
4. **Nested-Tag / Sub-Element Selector Rule**: Implement a CSS rule that targets elements
 within a specific context, for example, styling **`<a>`** tags differently when they appear
 within the **`<nav>`** element versus elsewhere in the document.
5. **Pseudo-Class Selector Rule**: Include a rule that uses a pseudo-class, such as 
 **`a:hover`** or **`a:focus`**, to define styles for an element in a particular state. 
 This enhances the interactivity and accessibility of your document by providing visual cues to users.
*/

html {
    scroll-behavior: smooth;
}
/*Fonts*/
@font-face {
    font-family: 'vougue';
    src: url('fonts/Vogue.ttf') format('truetype')
}
@font-face {
    font-family: 'bebas';
    src:url('fonts/BebasNeue-Regular.ttf') format('truetype');
}

/* Global styles */
body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: rgb(222, 112, 112);
    color: white;
    padding: 20px;
    text-align: center;
}

#home{
    padding-left: 10px;
    width: 100px;
    float: left;
    z-index: 3;
    font-family: bebas;
    font-size: 23px;
}

.navBarGrid a {
    text-decoration:none;
    color: #333;
    padding: 10px 20px;
}

.navBarGrid a:hover {
    background-color: #ddd;
}

#homeSearchDiv{
    /*upper padding */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 3;
}
#homeSearchBar {
    width: 150px; /* Set the width of the text field */
    height: 2px; /* Set the height of the text field */
    padding: 18px; /* Add padding for better visual appearance */
    border: none;
    border-bottom: 2px solid rgb(201, 201, 201); /* Add a border to the text field */
    border-radius: 5px; /* Add rounded corners to the border */
    font-size: 15px; /* Set the font size of the text */
    background-color:transparent;
  }
/* Navigation styles */
nav {
    position: fixed;
    background-color:rgba(0, 0, 0, 0.568);
    color:white ;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    width: 100%;
    
  }
  
  .nav-left {
    color:#C0C5C1;
    text-decoration: none;
    font-size: 20px;
 
  }
  
  .nav-right {
    display: flex;
  }
  
  .nav-link {
    color: #C0C5C1;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 20px;
    position: relative;
    
    
  }
  #profile{
    position: relative;
    right:70px ;
    top: 0 px;
    z-index: 3;
    font-family: bebas;
  }
  #about{
    position: relative;
    right:35px;
    top: 0px;
    z-index: 3;
    font-family: bebas;
  }
  #shop{
    position: relative;
    right:100px;
    top: 0px;
    z-index: 3;
    font-family: bebas;
    padding: 18px;
  }
  
  .nav-link:hover {
    color: #ddd; /* Light gray hover color */
  }
  
 /* Styling dropdown*/
 .nav-dropDown {
    position: relative;
    display: inline-block;
    z-index: 3;
    font-family: bebas;
    letter-spacing: 2px;
    font-size: 15px;
    

}

.nav-dropDown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.568);
    min-width: 100%; /* Set the width to match the parent */
    right:90px;
    top:42px
    
  
}

.nav-dropDown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.nav-dropDown:hover .nav-dropDown-content {
    display: block;
}
/* Styling for Prix main title*/
#prixTitle{
    position: relative;
    color: #C0C5C1;
    font-family: vougue;
    text-align: center;
    font-size:45px;
    top:200px;
    z-index: 1;
    
} 
.bg1 {
    background-image: url('images/bg1.jpg'); 
    background-size: cover;
    background-position: center;
    height: 400px;
    position:relative;
    z-index: 0;
    top: 0px;
}

/*clothes section styling */
.clothes-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.clothes {
    flex: 1 0 calc(25% - 20px);
    position: relative; 
    overflow: hidden;
    margin-bottom: 20px;
}

.clothes img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.overlay-txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity for darkness */
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: vougue;
   letter-spacing: 5px;
    font-size: 40px;
}

.clothes:hover .overlay-txt {
    opacity: 1;
}
/* Main content styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

/*Home page styling*/
#homeSearchDiv {
    margin-bottom: 20px;
    z-index: 1;
}

.container {
    display: flex;
    width: 100%;
}

.box1,
.box2 {
    flex: 1; 
    height: 500px;
}

.box1 {
    position: relative;
    width: 50%; 
    height: 500px; 
    background-color: #1f1f1f; 
    text-align: center;
    font-family: bebas;
    letter-spacing: 5px;
}



.section-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}

.section-header h2 {

    margin:auto;
    color: #ffffff;
}

#prix-description {
    color: white; /* Text color */
    font-size: 16px;
    line-height: 1.6;
    text-align: center; /* Center the text horizontally */
    opacity: 0; /* Initially hide the text */
    transition: opacity 0.3s; /* Add a smooth transition effect */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ensure the text covers the entire width of the box */
    height: 100%; /* Ensure the text covers the entire height of the box */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
    padding: 20px; /* Add padding to the text */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.box2 {
    position: relative; /* Ensure absolute positioning of child elements is relative to this container */
    background-image: url('images/what-is-prix.jpg');
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 500px; /* Set the height of the box */
    width: 50%; /* Set the width of the box */
    
}
.box2:hover #prix-description {
    opacity: 1; /* Show the text on hover */
}

/*Stlying for the Carousel (removed this for the time being -Ami*/
.carousel-container {
    position: relative;
    max-width: 600px; /* 1.5 times the original width */
    margin: 20px auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 200%; /* Three times the width of a single image */
    transition: transform 0.5s ease;
}

.carousel-slide img {
    width: 50%; /* Half the width of a single image */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
}

.arrow-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between; /* Space the arrows */
    width: 100%; /* Take full width */
}

.arrow {
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    cursor: pointer;
}

.prevArrow {
    margin-right: auto; /* Push to the left */
}

.nextArrow {
    margin-left: auto; /* Push to the right */
}


#wire-frames div img{
    display: block;
    margin: 0 auto;
}

#team {
    background-color: #f9f9f9;
    padding: 20px;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(4, 3.8in);

}

.grid-elem {
    padding: 10px;
    background-color: rgb(222, 112, 112); /* border shorthand */
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-elem h3, .grid-elem div {
    color: white;
}


/* CSS FROM login.css */
/*styling "Login" above the form*/
#login-header {
    text-align: center; /*centers*/
    color: rgb(222, 112, 112); /*font color*/
    font-size: 30px; /*font size*/
  }
  
  /*styling the login box */
  #login-view {
    text-align: center; /* centers box */
    width: 300px; /* sets width to 300px wide */
    margin: 0 auto; /*sets top bottom margins to 0, and automatically centers left and right margins*/
    padding: 20px; /* padding to 20px */
    border: 1px solid #ccc; /* sets a solid 1 pixel thick border of color #ccc */
    border-radius: 25px; /* rounds out the border */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* shadow of the box */
    margin-top: 50px; /* brings the login box down 50 px */
    background-color: #f2f2f2; /* background color of the box */
  }
  
  #login-view h2 {
    text-align: center; /* centers Login */
    margin-bottom: 20px; /* sets bottom margin to 20px */
  }
  
  /* styling the username and password fields */
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block; /* ensures username and password have their own lines */
    margin-bottom: 5px; /* sets bottom margin to 5px */
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 100%; /* sets width of input */
    padding: 10px; /* sets padding to 10px */
    border: 1px solid #ccc; /* adds solid, 1 px border of color #ccc */
    border-radius: 3px; /* rounds out border corners */
    box-sizing: border-box; /* ensures username and password fields don't overlap Login box */
  }
  
  .login-button,
  .google-button {
      width: 200px; /* sets width of login and google button */
      padding: 10px; /* sets padding to 10px */
      border: none; /* no border */
      border-radius: 3px; /* rounds out corners */
      cursor: pointer; /* makes mouse icon turn to hand for interactivity */
  }
  
  .login-button {
      margin-bottom: 5px; /* Add margin between buttons */
      background-color: rgb(222,112,112); /* Button background color */
      color: #fff; /* Button text color */
      font-weight: bold; /* bolds text */
  }
  
  .google-button {
      padding: 10px; /* padding of 10px */
      margin-top: 5px; /* Add margin between buttons */
      background-color: white; /* white background */
      border: 2px solid #000; /* solid, 2 pixel border of color black to google button */
      color: black; /* color of text */
      font-weight: bold; /* bolds text */
  }
  
  /* Button hover effect */
  .login-button:hover {
      opacity: 0.8; /* Reduce opacity on hover */
  }
  
  .google-button:hover {
    background-color: lightgray; /* changes color of button background for accessibility */
  }
  
  .forgot-password-signup {
    display: flex; /* makes flex container */
    justify-content: space-between;  /* Evenly spaces forgot password? and signup buttons */
    margin-bottom: 10px; /* adds 10px margin to bottom */
  }
  
  .forgot-password,
  .signup {
    color: rgb(222,112,112); /* sets color of forgot password? and signup */
    text-decoration: none; /* no underline */
  }
  
  .forgot-password:hover,
  .signup:hover {
    text-decoration: underline; /* underline when hovering over forgot password? and signup */
  }
  
  .signup {
    font-weight: bold; /* bolds text */
  }